name: release

on:
  push:
    branches:
      - main
    paths:
      - 'charts/**/.version'

permissions:
  contents: write # For writing tags to repo and to gh-pages branch

jobs:
  release:
    runs-on: ubuntu-latest
    if: ${{github.repository == 'robinlioret/helm-charts' }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - uses: helm/chart-releaser-action@cae68fefc6b5f367a0275617c9f83181ba54714f #v1.7.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        with:
          charts_dir: charts/${{ matrix.chart }}

